@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  position: relative;
}
@keyframes slideUpAndFade {
  from { opacity: 0; transform: translateY(2px); }
  to { opacity: 1; transform: translateY(0); }
}

.DropdownMenuContent[data-state='open'] {
  animation: slideUpAndFade 200ms ease-out;
}
.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  flex: 0 0 auto;
  transition: transform 0.3s ease; 
}